@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600&display=swap");

* {
	/* background-color: whitesmoke; */
	/* z-index: -0; */
}

body {
	height: 100%;
	/* margin: 0; */
	/* padding: 0; */
	box-sizing: border-box;
	font-family: "Source Sans Pro", sans-serif;
	z-index: 0;
}

/* header control area  */
header {
	display: flex;
	justify-content: space-between;
	align-items: start;
	border-bottom: 0.5px solid rgb(210, 206, 206);
	padding: 1rem;
	height: 4.2rem;
	z-index: 100;
}

.mainLogo {
	font-size: 1.75rem;
	font-weight: 900;
}

/* .header-left {
} */

.header-center {
	margin-right: 15rem;
}

.header-right {
	display: flex;
}

.menu {
	width: 15px;
	height: 15px;
	object-fit: cover;
	padding: 0.5rem;
	align-self: center;
}

.account {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	object-fit: cover;
	padding: 0.5rem;
}

.mainLogo span {
	margin: 0;
	padding: 0;
	letter-spacing: 1;
}

.G {
	color: #4285f4;
}

.o-1 {
	color: #db4437;
}

.o-2 {
	color: #f4b400;
}

.g {
	color: #4285f4;
}

.l {
	color: #0f9d58;
}

.e {
	color: #db4437;
}

#search {
	width: 700px;
	height: 35px;
	border: 1px solid rgb(183, 181, 181);
	border-radius: 20px;
	cursor: pointer;
	opacity: 0.7;
}

.searchBox {
	display: flex;
	justify-content: flex-end;
}

.searchControls {
	display: flex;
	color: #4285f4;
	align-items: center;
	position: relative;
	right: 1rem;
}

.searchControls i:nth-child(1) {
	color: gray;
}

.searchControls > div,
i {
	margin-right: 1rem;
}

.verticalLine {
	color: rgb(183, 181, 181);
}

.menuItems ul {
	padding-left: 0;
	display: flex;
	justify-content: space-around;
	margin-bottom: 0;
	z-index: 0;
}

.menuItems ul li {
	display: flex;
	padding-right: 10px;
	color: rgb(78, 76, 76);
	list-style: none;
	font-size: 0.75rem;
}

.menuItems ul li i {
	margin-right: 5px;
}

.li-space {
	padding-left: 4rem;
}

.menuItems .selected-li {
	color: #4285f4;
	border-bottom: 3px solid #4285f4;
	padding-bottom: 0.75rem;
}

/* Main content area controls  */
.container {
	display: flex;
	width: 84%;
	margin-left: 12rem;
}

.search-page {
	width: 60%;
	font-size: small;
}

.search-page h4 {
	color: rgb(125, 123, 123);
	margin-top: 0.3rem;
}

.search-page h2,
p {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

.search-page p {
	margin-bottom: 2rem;
}

.search-page h5 {
	margin-top: 0.5rem;
	margin-bottom: 0;
}

.search-result h2 a {
	text-decoration: none;
}

.people-ask ul {
	width: 100%;
	border: 0.5px solid rgb(210, 206, 206);
	border-radius: 5px;
	padding-right: 0;
	padding-left: 0;
	z-index: 100;
	/* margin-bottom: 2rem; */
}

.people-ask ul li {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	border-top: 0.75px solid rgb(210, 206, 206);
	padding-left: 1rem;
	padding-right: 0.5rem;
	/* z-index: 0; */
	color: rgb(79, 79, 79);
}
.people-ask i {
	color: rgb(79, 79, 79);
}

.search-result i {
	position: relative;
	margin: 2px;
	font-size: 0.5rem;
	z-index: 100;
}

.people-ask > span {
	font-size: 0.75rem;
	color: rgb(79, 79, 79);
	font-style: italic;
	position: relative;
	left: 35rem;
	bottom: 0.75rem;
}

.shadow-line {
	position: relative;
	height: 200px;
	box-shadow: inset 0 0 50px 0 lightgray;
	clip-path: inset(50px 50px -50px 50px);
	margin-left: 8.75rem;
	margin-top: -12rem;
	z-index: 0;
}

/* footer contol area  */
footer {
	position: relative;
	bottom: 0;
	font-family: "Source Sans Pro", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3rem;
}

.mainLogo-2 > span {
	align-items: center;
	font-size: 2rem;
}

.mainLogo-2 > i {
	padding-left: 1rem;
	color: #4285f4;
}

.result-numbers > span {
	padding: 0 0.3rem;
	text-align: center;
	color: #4285f4;
	font-weight: 600;
}

.result-numbers span:nth-child(1) {
	color: black;
}

.result-numbers span:nth-child(11) {
	padding-left: 4rem;
}
